@import "../../sass/variables";

.Tooltip {
  transition: 0.3s;
  white-space: pre-wrap;
  background-color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.Form {
  margin-top: 5rem;
  textarea, input {
    outline: none !important;
    -webkit-appearance: none !important;
  }

  input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 50px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    -webkit-appearance: none;
  }

  input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 50px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #8cc63e;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
    box-shadow: 0 0 1px #505250;
    -webkit-appearance: none;
  }
}

.Header {
  height: 35vh;
  background-repeat: no-repeat;
  background-size: 100%;

  div {
    height: 35vh;
  }
}

@media (min-width: 500px) {
  .Header {
    //height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.TitleHolder {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 5vh;

  h4 {
    font-size: 3.4rem;
    font-weight: bolder;
    text-shadow: 0 0 1px #505250;
  }
}

@media (min-width: 500px) {
  .Header {
    //height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.ContactForm {
  input, textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #e5e1e5;
  }
}
