$imgUrl: './assets/images/';

$base-color: #200D21 !default;
$secondary-color: #f1eff1 !default;

$ws-assertive-color: #f3782e !default;

$ws-color-white-light: rgba(#fff, .8);
$ws-color-white-lighter: rgba(#fff, .6);

$ws-color: #6d6e70 !default;
$ws-color-stonger: #58585a !default;
$ws-color-dark: #1f0e22 !default;

$ws-link-color: #3e427f !default;
$ws-img-color: #11a99d !default;

$ws-confirm-color: #8cc63e !default;

$color-stop1: #6D0E0F !default;
$color-stop2: #200e22 !default;

$ws-slider-conuter-color1: #f7953c !default;
$ws-slider-conuter-color2: #15a8a0 !default;
$ws-slider-conuter-color3: #26a8e2 !default;


$ws-spacing: .8rem !default;
$ws-spacing-small: .4rem !default;
$ws-spacing-large: 1.6rem !default;

$font-family: 'Montserrat' !default;


// break points
//$ws-breakpoint-xs: 0 !default;
$ws-breakpoint-sm: 576px !default;
$ws-breakpoint-md: 768px !default;
$ws-breakpoint-lg: 992px !default;
$ws-breakpoint-xl: 1200px !default;
// header large width
$ws-breakpoint-xxl: 1440px !default;

$ws-slide-largest-height: 820px !default
