
.Saradnja {
    ul {
        list-style: none;
    }

    li::before {
        content: "• ";
        color: #f3782e;
        font-weight: bold;
    }

    p, li {
        font-size: 1.4em;
    }

    a {
        color: #f3782e;
    }

    a:hover {
        font-weight: normal !important;
    }
}

.Assertive {
    color: #f3782e;
    font-weight: bold;
}

.DeoTima {
    background-image: url("../../assets/images/saradnja/img-0.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.Partner {
    background-image: url("../../assets/images/saradnja/img-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.KorisnikFransize {
    background-image: url("../../assets/images/saradnja/img-1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.MarginTop {
    margin-top: 0;
}

.ws-page-saradnja {
    .ws-politika-sistema {
        padding-bottom: 20px !important;
    }
}

@media only screen and (min-width: 1440px) {

    .Buducnost {
        max-width: 1140px !important;
        overflow: visible;

    }

    .MarginTop {
        margin-top: 40vh;
    }

    .ws-page-saradnja {
        .ws-politika-sistema {
            padding-bottom: 50px !important;
        }
    }

}

