.OpstiUsloviHeader {
  background-color: #200D21 !important;
  overflow: hidden;
  width: 100%;
  height: 340px;

  span {
    font-weight: 300;
  }

  h4 {
    margin-bottom: 22px;
  }
}

.OpstiUsloviHeader::after {
  background-color: #200D21 !important;
  overflow: hidden;
  position: relative;
  width: 100%;
}


@media (min-width: 575px) {
  .OpstiUsloviHeader {
    height: 700px;

    h4 {
      margin-bottom: 53px;
    }
  }
}


@media (min-width: 1200px) {
  .OpstiUsloviHeader {
    height: 700px;

    h4 {
      margin-bottom: 22px;
    }
  }
}