.ONamaHeader{
  background-color: #200D21 !important;
  overflow: hidden;
  width: 100%;
  span {
    font-weight: 500;
  }
}
.ONamaHeader::after {
  background-color: #200D21 !important;
  overflow: hidden;
  position: relative;
  width: 100%;
}