@import '../../sass/variables';

.ONama {
	background-image: url("../../assets/images/oNama/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: $base-color;
	position: relative;
	margin-top: -1px;
}

.ONamaHeader {
	overflow: hidden;
	width: 100%;
	
	&::after {
		display: none;
	}
}

.ONamaSkewWrap {
	position: absolute;
	top: 21rem;
	left: 0;
	height: 51rem;
	background-color: #fff;
	width: 100%;
	transform: skewY(-9.6deg);
}

.Citat {
	text-align: center;
	margin-bottom: 2rem;
	
	span {
		font-weight: 300;
	}
}
