/* line 1, ../src/sass/_placeholders.scss */
.ws-btn {
  -webkitbox-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 6, ../src/sass/_placeholders.scss */
.ws-btn:hover {
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

/* line 13, ../src/sass/_placeholders.scss */
.ws-attached, .ws-complex-cards .ws-card, .ws-card-gradient .ws-card, .ws-building-plan .ws-plan, .ws-qa-form .ws-card, .ws-overflow-img-container .ws-box, .ws-box {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 22, ../src/sass/_placeholders.scss */
.ws-card-gradient .ws-card .ws-card-header .ws-title .ws-text-holder {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 1, ../src/sass/_header.scss */
.ws-header {
  background-color: #200D21;
  overflow: hidden;
  position: relative;
}
/* line 11, ../src/sass/_header.scss */
.ws-header.ws-gradient {
  background: linear-gradient(to right, #6D0E0F, #200e22);
}
/* line 15, ../src/sass/_header.scss */
.ws-header::after {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 200px 100vw 0 0;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
}
/* line 27, ../src/sass/_header.scss */
.ws-header .ws-hamburger {
  padding: 1.6rem;
}
/* line 31, ../src/sass/_header.scss */
.ws-header .ws-hamburger.hidden .btn {
  display: none;
}
@media only screen and (min-width: 576px) {
  /* line 27, ../src/sass/_header.scss */
  .ws-header .ws-hamburger {
    display: none;
  }
}
/* line 40, ../src/sass/_header.scss */
.ws-header .ws-hamburger .btn {
  background-color: transparent;
  border: 0;
  color: #fff;
}
@media only screen and (max-width: 575px) {
  /* line 50, ../src/sass/_header.scss */
  .ws-header .ws-navigation.hidden {
    transform: translateX(-405px);
  }
}
@media only screen and (max-width: 575px) {
  /* line 48, ../src/sass/_header.scss */
  .ws-header .ws-navigation {
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    background-color: #fff;
    z-index: 99999;
    padding-bottom: 12.8rem;
    transform: translateX(0);
    -webkit-box-shadow: 0 14px 28px black, 0 10px 10px black;
    box-shadow: 0 14px 28px black, 0 10px 10px black;
    -webkit-transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  }
}
@media only screen and (min-width: 576px) {
  /* line 48, ../src/sass/_header.scss */
  .ws-header .ws-navigation {
    padding-bottom: 6.4rem;
    position: relative;
  }
}
/* line 79, ../src/sass/_header.scss */
.ws-header .ws-navigation .container {
  position: relative;
}
@media only screen and (max-width: 575px) {
  /* line 83, ../src/sass/_header.scss */
  .ws-header .ws-navigation .nav {
    display: block;
  }
}
@media only screen and (min-width: 576px) {
  /* line 83, ../src/sass/_header.scss */
  .ws-header .ws-navigation .nav {
    position: relative;
    padding: 1.6rem 0;
  }
}
/* line 93, ../src/sass/_header.scss */
.ws-header .ws-navigation .nav a {
  color: #200D21;
  font-size: 1.4rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 576px) {
  /* line 93, ../src/sass/_header.scss */
  .ws-header .ws-navigation .nav a {
    color: #fff;
  }
}
@media only screen and (min-width: 576px) {
  /* line 103, ../src/sass/_header.scss */
  .ws-header .ws-navigation .nav .ws-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 6.4rem;
    width: 200px;
  }
}
@media only screen and (min-width: 575px) {
  /* line 112, ../src/sass/_header.scss */
  .ws-header .ws-navigation .nav .ws-logo img {
    height: 100%;
    width: 100%;
  }
}
/* line 123, ../src/sass/_header.scss */
.ws-header .ws-slider-cont {
  padding-top: 20%;
  position: relative;
  overflow: hidden;
}
@media only screen and (min-width: 576px) {
  /* line 123, ../src/sass/_header.scss */
  .ws-header .ws-slider-cont {
    padding-top: 10%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 132, ../src/sass/_header.scss */
  /*.ws-header .ws-slider-cont > div {*/
    /*min-height: 390px;*/
  /*}*/
  .ws-header .ws-slider-cont {
    padding-top: 7%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 132, ../src/sass/_header.scss */
  .ws-header .ws-slider-cont > div {
    min-height: 625px;
  }
  .ws-header .ws-slider-cont {
    padding-top: 7%;
  }
}
@media only screen and (min-width: 1440px) {
  /* line 132, ../src/sass/_header.scss */
  .ws-header .ws-slider-cont > div {
    min-height: 820px;
  }
  .ws-header .ws-slider-cont {
    padding-top: 5%;
  }
}
/* line 152, ../src/sass/_header.scss */
.ws-header .ws-slider-cont img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 161, ../src/sass/_header.scss */
.ws-header .ws-header-title {
  color: #fff;
  font-weight: bolder;
  text-align: center;
  padding: 3.2rem 0 6.4rem;
}
/* line 168, ../src/sass/_header.scss */
.ws-header .ws-box {
  padding: 6.4rem;
  position: relative;
  z-index: 1;
}
/* line 174, ../src/sass/_header.scss */
.ws-header .ws-box .ws-txt h5 {
  color: #1f0e22;
  font-weight: bolder;
  padding-bottom: 0.8rem;
}
/* line 180, ../src/sass/_header.scss */
.ws-header .ws-box .ws-txt div {
  padding-top: 1.6rem;
}
/* line 183, ../src/sass/_header.scss */
.ws-header .ws-box .ws-txt div p {
  margin-bottom: 0;
}
/* line 190, ../src/sass/_header.scss */
.ws-header .ws-box .ws-stamp img {
  width: 180px;
  height: auto;
}

/* line 198, ../src/sass/_header.scss */
.ws-slider-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 0 6rem 4.8rem;
}
@media only screen and (min-width: 1200px) {
  /* line 198, ../src/sass/_header.scss */
  .ws-slider-info {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 198, ../src/sass/_header.scss */
  .ws-slider-info {
    padding: 0 8.2rem 15rem 6rem;
  }
}
/* line 213, ../src/sass/_header.scss */
.ws-slider-info h1 {
  font-weight: bolder;
  font-size: 2.4rem;
}
@media only screen and (min-width: 768px) {
  /* line 213, ../src/sass/_header.scss */
  .ws-slider-info h1 {
    font-size: 4.8rem;
  }
}
@media only screen and (min-width: 992px) {
  /* line 213, ../src/sass/_header.scss */
  .ws-slider-info h1 {
    font-size: 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 213, ../src/sass/_header.scss */
  .ws-slider-info h1 {
    font-size: 8rem;
    line-height: 0.9em;
  }
}
/* line 232, ../src/sass/_header.scss */
.ws-slider-info h3 {
  font-size: 1.6rem;
  font-weight: normal;
  padding-top: 2.4rem;
}

/* line 239, ../src/sass/_header.scss */
.ws-slide-counters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
@media only screen and (min-width: 768px) {
  /* line 239, ../src/sass/_header.scss */
  .ws-slide-counters {
    flex-direction: column;
    padding: 0.4rem 8rem 0.4rem 2.4rem;
  }
}
@media only screen and (min-width: 992px) {
  /* line 239, ../src/sass/_header.scss */
  .ws-slide-counters {
    padding: 2.4rem 8rem 2.4rem 2.4rem;
  }
}
/* line 255, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter {
  border: 2px solid #fff;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  width: 140px;
  align-self: flex-end;
  display: none;
}
@media only screen and (min-width: 768px) {
  /* line 255, ../src/sass/_header.scss */
  .ws-slide-counters .ws-slider-counter {
    height: 140px;
    width: 140px;
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  /* line 255, ../src/sass/_header.scss */
  .ws-slide-counters .ws-slider-counter {
    height: 160px;
    width: 160px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 255, ../src/sass/_header.scss */
  .ws-slide-counters .ws-slider-counter {
    height: 160px;
    width: 160px;
  }
}
@media only screen and (min-width: 1440px) {
  /* line 255, ../src/sass/_header.scss */
  .ws-slide-counters .ws-slider-counter {
    height: 180px;
    width: 180px;
  }
}
/* line 281, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter:nth-child(1) {
  border-color: #f7953c;
}
/* line 284, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter:nth-child(1) p {
  color: #f7953c;
}
/* line 289, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter:nth-child(2) {
  border-color: #15a8a0;
  margin: 2rem 0;
}
@media only screen and (min-width: 768px) {
  /* line 289, ../src/sass/_header.scss */
  .ws-slide-counters .ws-slider-counter:nth-child(2) {
    margin: 1rem 0;
  }
}
/* line 297, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter:nth-child(2) p {
  color: #15a8a0;
}
/* line 302, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter:nth-child(3) {
  border-color: #26a8e2;
}
/* line 305, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter:nth-child(3) p {
  color: #26a8e2;
}
/* line 310, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter h2 {
  font-weight: bold;
  color: #fff;
  font-size: 3.4rem;
  text-align: center;
  padding-top: 2.4rem;
}
@media only screen and (min-width: 768px) {
  /* line 310, ../src/sass/_header.scss */
  .ws-slide-counters .ws-slider-counter h2 {
    font-size: 2.4rem;
  }
}
/* line 322, ../src/sass/_header.scss */
.ws-slide-counters .ws-slider-counter p {
  font-size: 1.6rem;
  text-align: center;
  font-weight: lighter;
}
@media only screen and (min-width: 768px) {
  /* line 322, ../src/sass/_header.scss */
  .ws-slide-counters .ws-slider-counter p {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1440px) {
  /* line 335, ../src/sass/_header.scss */
  .ws-header .container {
    max-width: 1440px;
  }
}
/* line 344, ../src/sass/_header.scss */
.ws-header .slick-slider {
  position: relative;
}
@media only screen and (min-width: 1200px) {
  /* line 347, ../src/sass/_header.scss */
  .ws-header .slick-slider > div > div {
    min-height: 625px;
  }
}
@media only screen and (min-width: 1440px) {
  /* line 347, ../src/sass/_header.scss */
  .ws-header .slick-slider > div > div {
    min-height: 820px;
  }
}

/* line 361, ../src/sass/_header.scss */
.slick-dots {
  position: absolute;
  bottom: 2rem;
  left: 0;
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 3.8rem;
}
@media only screen and (min-width: 1200px) {
  /* line 361, ../src/sass/_header.scss */
  .slick-dots {
    padding: 0 3.8rem;
    bottom: 9rem;
  }
}
/* line 375, ../src/sass/_header.scss */
.slick-dots li {
  border: 1px solid #fff;
  border-radius: 50%;
}
/* line 379, ../src/sass/_header.scss */
.slick-dots li button {
  background-color: transparent;
  color: transparent;
}
/* line 383, ../src/sass/_header.scss */
.slick-dots li button::before {
  display: none;
}
/* line 388, ../src/sass/_header.scss */
.slick-dots li.slick-active {
  position: relative;
}
/* line 391, ../src/sass/_header.scss */
.slick-dots li.slick-active::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
}

/* line 406, ../src/sass/_header.scss */
.ws-header-no-slider {
  color: #fff;
  position: relative;
}
/* line 409, ../src/sass/_header.scss */
.ws-header-no-slider div {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 1.6rem;
}
/* line 388, ../src/sass/_body.scss */
.ws-header-no-slider .ws-layer {
  background-color: rgba(107, 9, 20, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media only screen and (min-width: 576px) {
  /* line 409, ../src/sass/_header.scss */
  .ws-header-no-slider div {
    justify-content: center;
    /*min-height: 390px;*/
  }
}
/* line 421, ../src/sass/_header.scss */
.ws-header-no-slider h4 {
  font-weight: bolder;
  font-size: 1.6rem;
  z-index: 3;
}
@media only screen and (min-width: 576px) {
  /* line 421, ../src/sass/_header.scss */
  .ws-header-no-slider h4 {
    font-size: 4.8rem;
  }
}
@media only screen and (min-width: 768px) {
  /* line 421, ../src/sass/_header.scss */
  .ws-header-no-slider h4 {
    font-size: 6rem;
  }
}
/* line 434, ../src/sass/_header.scss */
.ws-header-no-slider p {
  font-size: 1.2rem;
  padding: 1.6rem 5%;
  z-index: 3;
}
@media only screen and (min-width: 576px) {
  /* line 434, ../src/sass/_header.scss */
  .ws-header-no-slider p {
    font-size: 1.6rem;
    padding: 1.6rem 10%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 434, ../src/sass/_header.scss */
  .ws-header-no-slider p {
    padding: 1.6rem 25%;
  }
}

/* line 1, ../src/sass/_body.scss */
.ws-body {
  background-color: #fff;
}
/* line 6, ../src/sass/_body.scss */
.ws-body .ws-border-holder {
  border-bottom: 1px solid #e5e1e5;
}
@media only screen and (min-width: 576px) {
  /* line 6, ../src/sass/_body.scss */
  .ws-body .ws-border-holder {
    min-height: 7.2rem;
  }
}
/* line 16, ../src/sass/_body.scss */
.ws-body .ws-triangle-reverse-holder {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 21, ../src/sass/_body.scss */
.ws-body .ws-triangle-reverse-holder::before {
  background-color: #f1eff1;
  content: " ";
  display: block;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 33, ../src/sass/_body.scss */
.ws-body .ws-triangle-reverse-holder::after {
  border-color: transparent transparent transparent #f1eff1;
  border-style: solid;
  border-width: 0 0 270px 100vw;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  top: 120px;
  width: 100%;
}
/* line 47, ../src/sass/_body.scss */
.ws-body .ws-triangle-reverse-holder.ws-triangle-light::before {
  background-color: #fff;
}
/* line 51, ../src/sass/_body.scss */
.ws-body .ws-triangle-reverse-holder.ws-triangle-light::after {
  border-color: transparent transparent transparent #fff;
}
/* line 58, ../src/sass/_body.scss */
.ws-body .ws-triangle-holder {
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
/* line 66, ../src/sass/_body.scss */
.ws-body .ws-triangle-holder::after {
  border-color: transparent #f1eff1 transparent transparent;
  border-style: solid;
  border-width: 270px 100vw 0 0;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 79, ../src/sass/_body.scss */
.ws-body .ws-triangle-holder.ws-triangle-light {
  background-color: #f1eff1;
}
/* line 82, ../src/sass/_body.scss */
.ws-body .ws-triangle-holder.ws-triangle-light::after {
  border-color: transparent #fff transparent transparent;
}
/* line 88, ../src/sass/_body.scss */
.ws-body .container {
  position: relative;
}

/* line 95, ../src/sass/_body.scss */
.ws-centered-info-block {
  padding: 1.6rem 10%;
  position: relative;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  /* line 95, ../src/sass/_body.scss */
  .ws-centered-info-block {
    padding: 1.6rem 25%;
  }
}
/* line 108, ../src/sass/_body.scss */
.ws-centered-info-block h6 {
  color: #1f0e22;
  padding-bottom: 3.2rem;
}

/* line 116, ../src/sass/_body.scss */
.ws-simple-style-cont {
  padding: 6.4rem 0;
  position: relative;
  overflow: hidden;
}
/* line 121, ../src/sass/_body.scss */
.ws-simple-style-cont.ws-first {
  padding: 0 0 6.4rem;
}
/* line 125, ../src/sass/_body.scss */
.ws-simple-style-cont.ws-alt {
  background-color: #f1eff1;
}
/* line 129, ../src/sass/_body.scss */
.ws-simple-style-cont h3 {
  color: #1f0e22;
  padding: 1.6rem 0;
}
/* line 134, ../src/sass/_body.scss */
.ws-simple-style-cont .ws-stronger-color {
  font-weight: bold;
}

/* line 140, ../src/sass/_body.scss */
.ws-packages {
  background-color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 140, ../src/sass/_body.scss */
  .ws-packages {
    padding: 0 1.6rem;
  }
}
@media only screen and (min-width: 768px) {
  /* line 140, ../src/sass/_body.scss */
  .ws-packages {
    -webkitbox-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
/* line 152, ../src/sass/_body.scss */
.ws-packages .ws-package {
  border: 1px solid #200D21;
  margin-bottom: 3.2rem;
  padding: 0;
}
@media only screen and (max-width: 767px) {
  /* line 152, ../src/sass/_body.scss */
  .ws-packages .ws-package {
    -webkitbox-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}
@media only screen and (min-width: 768px) {
  /* line 152, ../src/sass/_body.scss */
  .ws-packages .ws-package {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  /* line 166, ../src/sass/_body.scss */
  .ws-packages .ws-package:nth-child(2) {
    border-width: 1px 0;
  }
}
/* line 174, ../src/sass/_body.scss */
.ws-packages .ws-package:first-child .ws-package-header {
  background-color: #200D21;
  color: #fff;
}
/* line 181, ../src/sass/_body.scss */
.ws-packages .ws-package-header {
  border-bottom: 1px solid #200D21;
  color: #200D21;
  font-size: 2rem;
  padding: 0.8rem 0;
  text-align: center;
}
/* line 189, ../src/sass/_body.scss */
.ws-packages .ws-package-body {
  margin-bottom: 6.4rem;
  padding: 1.6rem;
}
/* line 193, ../src/sass/_body.scss */
.ws-packages .ws-package-body ul {
  padding-left: 2.4rem;
}
/* line 196, ../src/sass/_body.scss */
.ws-packages .ws-package-body ul li {
  padding: 0.4rem 0;
}
/* line 201, ../src/sass/_body.scss */
.ws-packages .ws-package-body p {
  padding-bottom: 1.6rem;
}
/* line 205, ../src/sass/_body.scss */
.ws-packages .ws-package-body .ws-package-footer {
  bottom: 0;
  left: 0;
  padding: 1.6rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 217, ../src/sass/_body.scss */
.ws-attached-cont {
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  justify-content: center;
  padding: 0.8rem;
}
@media only screen and (min-width: 576px) {
  /* line 224, ../src/sass/_body.scss */
  .ws-attached-cont:nth-child(odd) {
    padding: 0.8rem 0.8rem 0.8rem 0;
  }
}
@media only screen and (min-width: 576px) {
  /* line 230, ../src/sass/_body.scss */
  .ws-attached-cont:nth-child(even) {
    padding: 0.8rem 0 0.8rem 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  /* line 236, ../src/sass/_body.scss */
  .ws-attached-cont:nth-child(2) {
    padding-right: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  /* line 242, ../src/sass/_body.scss */
  .ws-attached-cont:nth-child(3) {
    padding-left: 0.8rem;
  }
}

/* line 249, ../src/sass/_body.scss */
.ws-attached {
  background-color: #fff;
  padding: 0.8rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 575px) {
  /* line 249, ../src/sass/_body.scss */
  .ws-attached {
    max-width: 350px;
  }
}
/* line 262, ../src/sass/_body.scss */
.ws-attached .ws-icon-cont {
  padding: 1.6rem 0;
}
/* line 265, ../src/sass/_body.scss */
.ws-attached .ws-icon-cont img {
  height: 3.2rem;
  width: 3.2rem;
}
/* line 271, ../src/sass/_body.scss */
.ws-attached .ws-body {
  padding-bottom: 0.8rem;
  min-height: 205px;
}
/* line 275, ../src/sass/_body.scss */
.ws-attached .ws-body h6 {
  color: #58585a;
  padding-bottom: 0.8rem;
}
/* line 281, ../src/sass/_body.scss */
.ws-attached .ws-footer {
  border-top: 1px solid #f1eff1;
  padding: 0.8rem 0;
  text-align: right;
}
/* line 286, ../src/sass/_body.scss */
.ws-attached .ws-footer a {
  color: #3e427f;
  font-weight: bold;
}

/* line 294, ../src/sass/_body.scss */
.ws-centered-infoicon-block {
  text-align: center;
}
/* line 297, ../src/sass/_body.scss */
.ws-centered-infoicon-block .ws-cont {
  height: 100%;
  padding: 0 10%;
}
/* line 302, ../src/sass/_body.scss */
.ws-centered-infoicon-block .ws-icon-holder {
  background-color: #fff;
  border-radius: 50%;
  height: 150px;
  margin: auto;
  position: relative;
  width: 150px;
}
/* line 310, ../src/sass/_body.scss */
.ws-centered-infoicon-block .ws-icon-holder img {
  height: 100px;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
/* line 321, ../src/sass/_body.scss */
.ws-centered-infoicon-block .ws-body {
  background-color: transparent;
  color: #58585a;
  font-size: 1.4rem;
  margin-bottom: 8rem;
  padding: 1.6rem 0;
}
/* line 329, ../src/sass/_body.scss */
.ws-centered-infoicon-block h5 {
  color: #58585a;
  padding-bottom: 1.6rem;
}
/* line 334, ../src/sass/_body.scss */
.ws-centered-infoicon-block p {
  line-height: 1.15em;
}
/* line 338, ../src/sass/_body.scss */
.ws-centered-infoicon-block .ws-footer {
  bottom: 0;
  left: 0;
  padding: 4.8rem 0 3.2rem;
  position: absolute;
  width: 100%;
}

/* line 349, ../src/sass/_body.scss */
.ws-sec-colutions .ws-centered-info-block {
  padding-bottom: 3.2rem;
  padding-top: 0;
}

/* line 356, ../src/sass/_body.scss */
.ws-images-info-block {
  padding: 8rem 0;
}
/* line 359, ../src/sass/_body.scss */
.ws-images-info-block .ws-card {
  color: #fff;
}
/* line 362, ../src/sass/_body.scss */
.ws-images-info-block .ws-card:first-child {
  margin-bottom: 3.2rem;
}
@media only screen and (min-width: 768px) {
  /* line 362, ../src/sass/_body.scss */
  .ws-images-info-block .ws-card:first-child {
    padding-right: 1.6rem;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) {
  /* line 371, ../src/sass/_body.scss */
  .ws-images-info-block .ws-card:last-child {
    padding-left: 1.6rem;
  }
}
/* line 377, ../src/sass/_body.scss */
.ws-images-info-block .ws-card .ws-cont {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 50%;
  position: relative;
}
/* line 388, ../src/sass/_body.scss */
.ws-images-info-block .ws-card .ws-cont div:not(.ws-footer) {
  margin-bottom: 4.8rem;
  padding: 4.8rem;
}
/* line 388, ../src/sass/_body.scss */
.ws-images-info-block .ws-card .ws-cont div:not(.ws-layer) {
  margin-bottom: 4.8rem;
  padding: 4.8rem;
}
/* line 388, ../src/sass/_body.scss */
.ws-images-info-block .ws-card .ws-cont .ws-layer {
  background-color: rgba(107, 9, 20, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* line 393, ../src/sass/_body.scss */
.ws-images-info-block .ws-card .ws-cont h2 {
  position: relative;
  padding-bottom: 1.6rem;
  z-index: 3;
  margin-bottom: 4.8rem;
}
/* line 397, ../src/sass/_body.scss */
.ws-images-info-block .ws-card .ws-cont p {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.15em;
  z-index: 3;
  margin-bottom: 4.8rem;
  padding: 4.8rem;
}
/* line 402, ../src/sass/_body.scss */
.ws-images-info-block .ws-card .ws-cont .ws-footer {
  bottom: 0;
  left: 0;
  padding: 1.6rem 4.8rem;
  position: absolute;
  width: 100%;
  z-index: 3;
}

/* line 414, ../src/sass/_body.scss */
.ws-business-slider {
  border-top: 2px solid #f1eff1;
  text-align: center;
}
/* line 418, ../src/sass/_body.scss */
.ws-business-slider div {
  background: transparent;
}
@media only screen and (min-width: 768px) {
  /* line 422, ../src/sass/_body.scss */
  .ws-business-slider .row {
    padding: 0 10%;
  }
}
/* line 428, ../src/sass/_body.scss */
.ws-business-slider .ws-icon-holder {
  background-color: #fff;
  border: 2px solid #11a99d;
  border-radius: 50%;
  height: 130px;
  margin: auto;
  position: relative;
  width: 130px;
}
/* line 437, ../src/sass/_body.scss */
.ws-business-slider .ws-icon-holder img {
  height: 80px;
  left: 50%;
  margin-right: -50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}
/* line 448, ../src/sass/_body.scss */
.ws-business-slider .ws-title {
  padding: 1.6rem 0 6.4rem;
}
/* line 452, ../src/sass/_body.scss */
.ws-business-slider p {
  padding: 1.6rem 0;
}

/* line 460, ../src/sass/_body.scss */
.ws-complex-cards .ws-centered-info-block p {
  font-weight: 500;
}
/* line 466, ../src/sass/_body.scss */
.ws-complex-cards .row .col-12 {
  padding-bottom: 3.2rem;
}
/* line 474, ../src/sass/_body.scss */
.ws-complex-cards .ws-card .ws-card-header {
  padding-top: 100%;
  position: relative;
  width: 100%;
}
/* line 479, ../src/sass/_body.scss */
.ws-complex-cards .ws-card .ws-card-header .ws-star {
  background-repeat: no-repeat;
  height: 40%;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 40%;
}
/* line 489, ../src/sass/_body.scss */
.ws-complex-cards .ws-card h6 {
  color: #58585a;
  padding-bottom: 0.8rem;
  font-size: 1.8rem;
}
/* line 495, ../src/sass/_body.scss */
.ws-complex-cards .ws-card .ws-body {
  font-size: 1.2rem;
  padding: 1.6rem;
}
/* line 500, ../src/sass/_body.scss */
.ws-complex-cards .ws-card .ws-footer {
  padding-top: 1.6rem;
}
/* line 502, ../src/sass/_body.scss */
.ws-complex-cards .ws-card .ws-footer span {
  color: #f3782e;
  font-weight: 500;
}

/* line 511, ../src/sass/_body.scss */
.ws-quality-badge {
  padding: 1.6rem 0;
}
/* line 514, ../src/sass/_body.scss */
.ws-quality-badge .ws-img-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* line 520, ../src/sass/_body.scss */
.ws-quality-badge img {
  height: 145px;
  width: 145px;
}

/* line 528, ../src/sass/_body.scss */
.ws-card-gradient {
  border-top: 2px solid #e5e1e5;
}
/* line 531, ../src/sass/_body.scss */
.ws-card-gradient .col-12 {
  padding-bottom: 3.2rem;
}
/* line 535, ../src/sass/_body.scss */
.ws-card-gradient .ws-card {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #fff;
}
/* line 542, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-card-header {
  padding: 1.6rem 0;
}
/* line 545, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-card-header .ws-title {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
  position: relative;
}
/* line 553, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-card-header .ws-title .ws-notch {
  background-repeat: no-repeat;
  position: absolute;
  top: -1px;
  left: -5px;
  width: 10px;
  height: 110%;
  z-index: 3;
}
/* line 566, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-card-header .ws-title .ws-text-holder {
  background-color: #6D0E0F;
  background: linear-gradient(to right, #200e22, #6D0E0F);
  width: 92%;
  line-height: 1.8em;
  padding-left: 1.6rem;
}
/* line 576, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-card-header .ws-title .ws-triangle {
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 20px solid #6D0E0F;
}
/* line 587, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-body {
  padding: 1.6rem 1.6rem 0;
}
/* line 591, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-footer {
  text-align: right;
  border-top: 1px solid #f1eff1;
  padding: 0.8rem 0;
}
/* line 596, ../src/sass/_body.scss */
.ws-card-gradient .ws-card .ws-footer a {
  color: #3e427f;
  font-weight: bold;
}

/* line 605, ../src/sass/_body.scss */
.ws-slider-clients {
  padding: 3.2rem 0;

}

/* line 605, ../src/sass/_body.scss */
.ws-slider-clients .ws-clients img{
  padding: 10px 50px;
}

/* line 608, ../src/sass/_body.scss */
.ws-slider-clients .ws-slider-title {
  text-align: center;
  padding-bottom: 3.2rem;
}
/* line 613, ../src/sass/_body.scss */
.ws-slider-clients .ws-slider-navigation {
  display: flex;
  flex: row;
  justify-content: space-between;
}
/* line 618, ../src/sass/_body.scss */
.ws-slider-clients .ws-slider-navigation::before, .ws-slider-clients .ws-slider-navigation::after {
  content: '';
  display: block;
  background-color: #f1eff1;
  height: 2px;
  width: calc(50% - 60px);
  margin-top: 6px;
}
/* line 628, ../src/sass/_body.scss */
.ws-slider-clients .ws-slider-navigation .ws-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80px;
}

/* line 655, ../src/sass/_body.scss */
.ws-building-plan .ws-plan {
  background-color: #f1eff1;
  padding: 1.6rem;
}
/* line 660, ../src/sass/_body.scss */
.ws-building-plan .ws-plan > div {
  width: 100% !important;
}
@media only screen and (min-width: 992px) {
  /* line 655, ../src/sass/_body.scss */
  .ws-building-plan .ws-plan {
    padding: 3.2rem;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 655, ../src/sass/_body.scss */
  .ws-building-plan .ws-plan {
    padding: 6.4rem;
  }
}
/* line 672, ../src/sass/_body.scss */
.ws-building-plan .ws-plan img {
  width: 100%;
  height: auto;
}

/* line 681, ../src/sass/_body.scss */
.ws-qa-form .ws-card {
  padding: 3.2rem 6.4rem 6.4rem;
}
/* line 688, ../src/sass/_body.scss */
.ws-qa-form .ws-card-header p:first-of-type {
  font-weight: 500;
}
/* line 695, ../src/sass/_body.scss */
.ws-qa-form .ws-body .row {
  border-bottom: 2px solid #e5e1e5;
  padding: 1.6rem 0;
}
@media only screen and (min-width: 576px) {
  /* line 700, ../src/sass/_body.scss */
  .ws-qa-form .ws-body .ws-info {
    padding-right: 4.8rem;
  }
}
/* line 705, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-info h6 {
  color: #f3782e;
  padding-bottom: 0.8rem;
}
/* line 710, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-info p {
  line-height: 1.15em;
}
/* line 716, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-questions div {
  padding-bottom: 0.8rem;
}
/* line 720, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-questions span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/* line 726, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-questions i {
  color: #6d6e70;
  margin-top: 0.4rem;
  margin-right: 1.6rem;
}
/* line 732, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-questions p {
  font-weight: 500;
}
/* line 736, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-questions ul {
  list-style: none;
  padding-left: 3.2rem;
}
/* line 741, ../src/sass/_body.scss */
.ws-qa-form .ws-body .ws-questions .ws-btn-option {
  margin-right: 0.8rem;
}
/* line 747, ../src/sass/_body.scss */
.ws-qa-form .ws-footer {
  text-align: center;
  padding: 3.2rem 0;
}
/* line 752, ../src/sass/_body.scss */
.ws-qa-form .ws-footer .ws-btn {
  min-width: 100px;
}

/* line 760, ../src/sass/_body.scss */
.ws-overflow-img-container p {
  font-size: 1.2rem;
}
/* line 764, ../src/sass/_body.scss */
.ws-overflow-img-container .ws-box {
  background-color: #fff;
}
/* line 769, ../src/sass/_body.scss */
.ws-overflow-img-container .ws-box.ws-alt {
  background-color: #f1eff1;
}
/* line 773, ../src/sass/_body.scss */
.ws-overflow-img-container .ws-box:not(.ws-left-img) {
  padding: 1.6rem;
}
@media only screen and (min-width: 992px) {
  /* line 773, ../src/sass/_body.scss */
  .ws-overflow-img-container .ws-box:not(.ws-left-img) {
    padding: 9.6rem 0 9.6rem 6.4rem;
  }
}
@media only screen and (min-width: 992px) {
  /* line 780, ../src/sass/_body.scss */
  .ws-overflow-img-container .ws-box:not(.ws-left-img) .ws-txt {
    padding-right: 4.8rem;
  }
}
/* line 787, ../src/sass/_body.scss */
.ws-overflow-img-container .ws-box.ws-left-img {
  padding: 1.6rem;
}
@media only screen and (min-width: 992px) {
  /* line 787, ../src/sass/_body.scss */
  .ws-overflow-img-container .ws-box.ws-left-img {
    padding: 9.6rem 6.4rem 9.6rem 0;
  }
}
@media only screen and (min-width: 992px) {
  /* line 794, ../src/sass/_body.scss */
  .ws-overflow-img-container .ws-box.ws-left-img .ws-txt {
    padding-left: 4.8rem;
  }
}
/* line 802, ../src/sass/_body.scss */
.ws-overflow-img-container h3 {
  font-weight: bold;
}
/* line 806, ../src/sass/_body.scss */
.ws-overflow-img-container .ws-img-cont {
  height: 100%;
  width: 100%;
}
/* line 810, ../src/sass/_body.scss */
.ws-overflow-img-container .ws-img-cont img {
  height: auto;
  width: 100%;
}
@media only screen and (min-width: 1350px) {
  /* line 810, ../src/sass/_body.scss */
  .ws-overflow-img-container .ws-img-cont img {
    height: 400px;
    width: auto;
  }
}
@media only screen and (min-width: 1350px) {
  /* line 823, ../src/sass/_body.scss */
  .ws-overflow-img-container .ws-left-img .ws-img-cont img {
    transform: translate(-100px, 0);
  }
}
@media only screen and (min-width: 992px) {
  /* line 830, ../src/sass/_body.scss */
  .ws-overflow-img-container .ws-left-img h3,
  .ws-overflow-img-container .ws-left-img p {
    text-align: right;
  }
}

/* line 842, ../src/sass/_body.scss */
.ws-politika-sistema .ws-subtitle-assertive {
  color: #f3782e;
  padding-left: 1.6rem;
  font-weight: bold;
}
/* line 848, ../src/sass/_body.scss */
.ws-politika-sistema .ws-politika-list {
  padding-left: 1.6rem;
}

/* line 857, ../src/sass/_body.scss */
.ws-shema .ws-shema-cont img {
  height: auto;
  width: 100%;
}

/* line 866, ../src/sass/_body.scss */
.ws-licence .ws-licence-list {
  padding-left: 1.6rem;
  font-weight: 500;
}
/* line 870, ../src/sass/_body.scss */
.ws-licence .ws-licence-list li {
  margin-bottom: 0.4rem;
}
/* line 876, ../src/sass/_body.scss */
.ws-licence p span {
  font-weight: 500;
}

/* line 885, ../src/sass/_body.scss */
.ws-clients .ws-img-cont img {
  padding: 10px 20px !important;
  height: auto;
}
@media only screen and (min-width: 576px) {
  /* line 885, ../src/sass/_body.scss */
  .ws-clients .ws-img-cont img {
    width: 32%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 885, ../src/sass/_body.scss */
  .ws-clients .ws-img-cont img {
    width: 24%;
  }
}
@media only screen and (min-width: 992px) {
  /* line 885, ../src/sass/_body.scss */
  .ws-clients .ws-img-cont img {
    width: 19%;
  }
}

/* line 2, ../src/sass/_footer.scss */
.footer {
  background-color: #200D21;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
  padding: 6.4rem 0 3.2rem;
}
/* line 8, ../src/sass/_footer.scss */
.footer a {
  color: rgba(255, 255, 255, 0.6);
}
/* line 12, ../src/sass/_footer.scss */
.footer h6 {
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 0.8rem;
}
/* line 18, ../src/sass/_footer.scss */
.footer .logo {
  height: auto;
  width: 100%;
}
/* line 22, ../src/sass/_footer.scss */
.footer .logo img {
  height: auto;
  width: 100%;
}
/* line 28, ../src/sass/_footer.scss */
.footer .ws-info-block {
  padding-bottom: 1.6rem;
}
/* line 32, ../src/sass/_footer.scss */
.footer .nav-link {
  padding: 0;
}
/* line 36, ../src/sass/_footer.scss */
.footer .ws-soc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.6rem;
  text-align: center;
}
/* line 43, ../src/sass/_footer.scss */
.footer .ws-soc a {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 3.2rem;
  justify-content: center;
  width: 3.2rem;
}
/* line 52, ../src/sass/_footer.scss */
.footer .ws-soc a:nth-child(2) {
  margin: 0 1.6rem;
}
/* line 56, ../src/sass/_footer.scss */
.footer .ws-soc a i {
  color: #200D21;
}
/* line 62, ../src/sass/_footer.scss */
.footer .ws-copyrights {
  text-align: center;
}
/* line 65, ../src/sass/_footer.scss */
.footer .ws-copyrights a {
  color: #f3782e;
}

/* line 9, ../src/sass/_style.scss */
html {
  font-size: 62.5%;
}

/* line 15, ../src/sass/_style.scss */
body {
  font-size: 1.4em;
  color: #6d6e70;
  font-family: "Montserrat";
}

/* line 22, ../src/sass/_style.scss */
h1 {
  font-size: 9.6rem;
}

/* line 26, ../src/sass/_style.scss */
h2 {
  font-size: 6rem;
}

/* line 30, ../src/sass/_style.scss */
h3 {
  font-size: 4.8rem;
}

/* line 34, ../src/sass/_style.scss */
h4 {
  font-size: 3.4rem;
}

/* line 38, ../src/sass/_style.scss */
h5 {
  font-size: 2.4rem;
}

/* line 42, ../src/sass/_style.scss */
h6 {
  font-size: 2rem;
}

/* line 46, ../src/sass/_style.scss */
.ws-title {
  font-size: 1.6rem;
}

/* line 50, ../src/sass/_style.scss */
.ws-stronger-color {
  color: #58585a;
}

/* line 54, ../src/sass/_style.scss */
.ws-btn {
  color: #fff;
  background-color: #f3782e;
  font-size: 1.2rem;
  line-height: 1.6em;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 75px;
}

/* line 70, ../src/sass/_style.scss */
.ws-btn-dark {
  background-color: #3e427f;
}

/* line 75, ../src/sass/_style.scss */
.ws-btn-confirm {
  background-color: #8cc63e;
}

/* line 79, ../src/sass/_style.scss */
.ws-txt-italic {
  font-style: italic;
}

/* line 83, ../src/sass/_style.scss */
.ws-uppercase {
  text-transform: uppercase;
}

/* line 87, ../src/sass/_style.scss */
.ws-color-dark {
  color: #1f0e22;
}

/* line 91, ../src/sass/_style.scss */
.ws-txt-bold {
  font-weight: bold;
}

/* line 97, ../src/sass/_style.scss */
.container,
.ws-slider-cont,
.ws-centered-info-block {
  z-index: 1;
}

/* line 104, ../src/sass/_style.scss */
.ws-btn-slider,
.ws-btn-option {
  border: 1px solid #6d6e70;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: #fff;
  position: relative;
  padding: 0;
}
/* line 115, ../src/sass/_style.scss */
.ws-btn-slider.ws-active::before,
.ws-btn-option.ws-active::before {
  display: block;
  content: '';
  background-color: #6d6e70;
  height: 70%;
  width: 70%;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 15%;
}

/* line 131, ../src/sass/_style.scss */
.ws-btn-option.ws-active::before {
  background-color: #8cc63e;
}

/* line 137, ../src/sass/_style.scss */
.ws-box {
  background-color: #fff;
  padding: 6.4rem;
}
/* line 142, ../src/sass/_style.scss */
.ws-box.ws-alt {
  background-color: #f1eff1;
}
/* line 146, ../src/sass/_style.scss */
.ws-box h4,
.ws-box h5 {
  color: #1f0e22;
  font-weight: bolder;
  padding-bottom: 1.6rem;
}
