.HeaderItem {
    height: calc(100vh - 10%);
    background-repeat: no-repeat;
    background-size: 100%;

    h1 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)) !important;
        padding: 20px 40px !important;
    }
}

.HeadersRow {
    height: auto;
}

