.Header {
    height: 35vh;
    background-repeat: no-repeat;
    background-size: 100%;

    p {
        margin-top: 30em;
        margin-bottom: 0;
        text-align: left;
        width: 50%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0)) !important;
        padding: 20px 40px !important;
    }
}

@media (min-width: 500px) {
    .Header {
        //height: 70vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
